<h1>Find Your Account Here</h1>

<form {{action "userEmail" on='submit'}}>
	<label for="useremail">Enter Your Email Address</label>
		{{input id='userEmail' value=email type='email' placeholder="Email"}}
	<button onclick='submit'>Search</button>
</form>
